
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #472b39;
  }
  
 .cover{
    position: absolute;
    height: 0px;
    width: 0px;
 }

 .cover.top{
    border-left:200px solid transparent;
    border-right: 200px solid transparent;
    border-bottom: 150px solid transparent;
    border-top: 150px solid #d2c6c7;

 }

 .cover.bottom.right{
    border-left:200px solid transparent;
    border-right: 200px solid #d2c8c8;
    border-bottom: 150px solid transparent;
    border-top: 150px solid transparent;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
 }

 .cover.left{
    border-left:200px solid #d2c8c8;
    border-right: 200px solid transparent;
    border-bottom: 150px solid transparent;
    border-top: 150px solid transparent;
    border-bottom-left-radius: 10px;
 }

 .envelope{
    position: relative;
    width: 400px;
    height:300px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-left: auto;
    margin-right:auto;

    background-color: #eff4ea;
 }

 .letter{
    background: linear-gradient(to bottom, #f3e1e1 50%, #c5bcbc 50%);
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 10px;
    text-align: center;
    font-family: "Lucida Handwriting", cursive;
 }

 #heart {
    position: relative;
    width: 75px;
    height: 75px;
    transform: translate(200%, 120%)
  }
  #heart:before,
  #heart:after {
    position: absolute;
    content: "";
    left: 50px;
    top: 0;
    width: 50px;
    height: 80px;
    background: rgb(237, 125, 211);
    border-radius: 50px 50px 0 0;
    transform: rotate(-45deg);
    transform-origin: 0 100%;
  }
  #heart:after {
    left: 0;
    transform: rotate(45deg);
    transform-origin: 100% 100%;
  }
